<template>
  <DefaultForm :header="header" :onSearch="search" :ref="refDF" :type-search="[1, 1, 0]" :reset-modal="resetForm">
    <template slot="search">
      <b-row>
        <b-col md="4">
          <div class="form-group">
            {{$t('company.active.search.packType')}}
            <v-select :options="optionsPackType" v-model="packTypeSel"
                      :placeholder="$t('company.active.search.plPackTyple')" label="name"></v-select>
          </div>
        </b-col>
        <b-col md="4">
          <div class="form-group">
            {{$t('company.active.search.namePack')}}
            <b-form-input v-model="searchName"></b-form-input>
          </div>
        </b-col>
      </b-row>
    </template>
    <template slot="viewData">
      <b-table responsive :items="tblData" :fields="fields" striped bordered hover>
        <template slot="packTypeStr" slot-scope="data">
          {{data.item.packType.name}}
        </template>
        <template slot="productStr" slot-scope="data">
          {{data.item.product.name}}
        </template>
        <template slot="batchStr" slot-scope="data">
          {{data.item.batch.name}}
        </template>
        <template slot="fileNameLink" slot-scope="data">
          <b-link @click="downloadFile(data.item.id, data.item.fileName)">{{data.item.fileName}}</b-link>
        </template>

        <template slot="deActive" slot-scope="data">
          <b-link @click="deActive(data.item)" v-b-tooltip :title="$t('company.active.table.deactive')"><span
            class="fa fa-remove"></span></b-link>
        </template>
      </b-table>
    </template>

    <template slot="modal">
      <div class="col-md-12 form-group">
        <b-row class="mb-3">
          <div class="col-md-6">
            {{$t('company.active.modal.product')}}
            <div ref="productSelParent">
              <v-select :options="optionsProduct" v-model="productSel" label="name"
                        :placeholder="$t('company.active.modal.plProduct')"></v-select>
            </div>
          </div>
          <div class="col-md-6">
            {{$t('company.active.modal.batch')}}
            <div ref="batchSelParent">
              <v-select :options="optionsBatch" v-model="batchSel" label="name"
                        :placeholder="$t('company.active.modal.plBatch')"></v-select>
            </div>
          </div>
        </b-row>
        <b-row class="mb=3">
          <div class="col-md-12">
            {{$t('company.active.modal.validPack')}}
            <div ref="validPackSelParent">
              <v-select :options="optionValidPack" v-model="validPackSel" label="name"
                        :placeholder="$t('company.active.modal.plPack')"></v-select>
            </div>
          </div>
        </b-row>
      </div>
    </template>

    <template slot="modal-button">
      <b-btn variant="success" @click="active()" :disabled="isRequesting">
        <span class="fa fa-spinner fa-spin" v-if="isRequesting"></span> {{$t('company.active.modal.btnActive')}}
      </b-btn>
      &nbsp;
      <b-btn variant="dark" @click="$refs[refDF].hideModal()">{{$t('company.active.modal.btnCancel')}}</b-btn>
    </template>
  </DefaultForm>
</template>

<script>
  import DefaultForm from "../../containers/DefaultForm";
  import API from '../../shared/API'

  export default {
    name: "Active",
    components: {
      DefaultForm,
      API
    },
    data() {
      return {
        header: this.$t('company.active.header'),
        refDF: this.$safeRef(),
        lang: this.$getLang(),
        formatLang: this.$getFormat(),
        optionsPackType: [],
        packTypeSel: null,
        tblData: [],
        searchName: '',
        fields: [
          {key: 'rowNo', label: this.$t('company.active.table.no')},
          {key: 'name', label: this.$t('company.active.table.pack')},
          {key: 'packTypeStr', label: this.$t('company.active.table.packType')},
          {key: 'productStr', label: this.$t('company.active.table.productName')},
          {key: 'batchStr', label: this.$t('company.active.table.batchName')},
          {key: 'fileNameLink', label: this.$t('company.active.table.fileName')},
          {key: 'deActive', label: ''},
        ],
        optionsProduct: [],
        productSel: null,
        optionsBatch: [],
        batchSel: null,
        optionValidPack: [],
        validPackSel: null,
        isRequesting: false,
        validObj: [
          {property: 'productSel', error: [
              {type: 'NULL', errorDesc: 'Xin mời chọn sản phẩm', errorDesc_en: 'Please choose product'}
            ]
          },
          {property: 'batchSel', error: [
              {type: 'NULL', errorDesc: 'Xin mời chọn lô hàng', errorDesc_en: 'Please choose batch'}
            ]
          },
          {property: 'validPackSel', error: [
              {type: 'NULL', errorDesc: 'Xin mời chọn gói', errorDesc_en: 'Please choose package'}
            ]
          }
        ]
      }
    },
    methods: {
      search(pageNum, pageSize) {
        this.currentPage = pageNum;
        let rq = {
          page: pageNum,
          size: pageSize,
          status: 0,
          packTypeId: this.packTypeSel == null ? 0 : this.packTypeSel.id,
          name: this.searchName
        };
        let that = this;
        API.call_GET('activation', rq, function (res) {
          that.$refs[that.refDF].unlock();
          if (res.success) {
            that.tblData = res.list;
            that.$refs[that.refDF].setTotal(res.totalElements);
          }
          else {
            that.$error(res.message);
          }
        }, function (res) {
          that.$refs[that.refDF].unlock();
        });
      },
      downloadFile(id, fileName) {
        this.$loading(this.$t('common.downloading'), null, true, -1);
        let that = this;
        API.call_download('packs/' + id + '/files/' + fileName, {}, function (res) {
          that.$closeToastr();
          that.$saveFile(res, fileName + '.csv');
        }, function (res) {
          that.$closeToastr();
        });
      },
      resetForm() {
        this.productSel = null;
        this.validPackSel = null;
        let that = this;
        API.call_GET('packs/cbbActivationValid', {}, function (res) {
          if (res.success) {
            that.optionValidPack = res.list;
          }
        });
      },
      active(){
        if (!this.$valid(this.validObj)) return;
        let rq = {
          batchId: this.batchSel.id,
          packId: this.validPackSel.id,
          activationType: 2
        };
        let that = this;
        that.isRequesting = true;
        API.call_POST('activation', rq, function (res) {
          that.isRequesting = false;
          if (res.success) {
            that.$success(that.$t('common.successText'));
            that.$refs[that.refDF].hideModal();
            that.search(that.currentPage, 10);
          } else {
            that.$error(res.message);
          }
        }, function (res) {
          that.isRequesting = false;
        });
      },
      deActive(data) {
        let that = this;
        let rq = {
          id: data.id
        };
        this.$dialog.confirm(this.$t('company.active.modal.deActivateText'), {
          loader: true,
          okText: that.$t('common.okText'),
          cancelText: that.$t('common.cancelText'),
        }).then(dialog => {
          API.call_PUT('activation', rq, function (res) {
            if (res.success){
              that.$success(that.$t('common.successText'));
              that.search(that.currentPage, 10);
            } else {
              that.$error(res.message);
            }
            dialog.loading(false);
            dialog.close();
          }, function (res) {
            dialog.loading(false);
            dialog.close();
          });
        });
      }
    },

    beforeMount() {
      let that = this;
      API.call_GET('packTypes/cbb', {}, function (data) {
        if (data.success)
          that.optionsPackType = data.list;
      });
      API.call_GET('product/cbb', {}, function (data) {
        if (data.success)
          that.optionsProduct = data.list;
      });
    },

    mounted() {
      this.search(0, 10);
    },
    watch: {
      productSel: function (val) {
        this.batchSel = null;
        this.optionsBatch = [];
        if (val == null) {
        } else {
          let that = this;
          API.call_GET('batches/cbb/' + val.id, {}, function(data) {
            if (data.success)
              that.optionsBatch = data.list;
          });
        }
      }
    }
  }
</script>

<style scoped>

</style>
