<template>
  <DefaultForm :header="header" :onSearch="search" :ref="refDF" :type-search="[1, 1, 0]" :reset-modal="resetForm">
    <template slot="search">
      <b-row>
        <b-col md="4">
          <div class="form-group">
            {{$t('company.batch.search.productName')}}
            <b-form-input type="text" class="form-control" v-model="searchProductName"></b-form-input>
          </div>
        </b-col>

        <b-col md="4">
          <div class="form-group">
            {{$t('company.batch.search.name')}}
            <b-form-input type="text" class="form-control" v-model="searchName"></b-form-input>
          </div>
        </b-col>
      </b-row>

      <b-row>
        <b-col md="4">
          <div class="form-group">
            {{$t('company.batch.search.status')}}
            <v-select :options="optionsStt" v-model="sttSearch" label="name" :clearable="false"></v-select>
          </div>
        </b-col>
        <b-col md="4">
          <div class="form-group">
            {{$t('company.batch.search.time')}}
            <date-picker v-model="searchDate" range confirm style="width: 100%" :lang="lang"
                         :format="formatLang"></date-picker>
          </div>
        </b-col>
      </b-row>
    </template>
    <template slot="viewData">
      <b-table responsive :items="tblData" :fields="fields" striped bordered hover
               caption-top>
        <template slot="statusStr" slot-scope="data">
          {{optionsStt[data.item.status].name}}
        </template>
        <template slot="productName" slot-scope="data">
          {{data.item.product.name}}
        </template>
        <template slot="mfgStr" slot-scope="data">
          {{moment(data.item.mfg, 'DD/MM/YYYY HH:mm:ss').format(formatLang)}}
        </template>
        <template slot="expStr" slot-scope="data">
          {{moment(data.item.exp, 'DD/MM/YYYY HH:mm:ss').format(formatLang)}}
        </template>
        <template slot="action" slot-scope="data">
          <b-link @click="clickInfo(data.item)" v-b-tooltip :title="$t('admin.pack.table.clEdit')"><span
            class="fa fa-edit"></span></b-link>
        </template>
      </b-table>
    </template>
    <template slot="modal">
      <div class="col-md-12 form-group">
        <b-row class="mb-3">
          <b-col md="12">
            {{$t('company.batch.modal.product')}}
            <div ref="formProductParent">
              <v-select :options="formProductList" v-model="formProduct" label="name"></v-select>
            </div>
          </b-col>
        </b-row>
        <b-row class="mb-3">
          <b-col md="6">
            {{$t('company.batch.modal.name')}}
            <div ref="formBatchNameParent">
              <b-form-input v-model="formBatchName"></b-form-input>
            </div>
          </b-col>
          <b-col md="6">
            {{$t('company.batch.modal.code')}}
            <b-form-input v-model="formBatchCode"></b-form-input>
          </b-col>
        </b-row>
        <b-row class="mb-3">
          <b-col md="6">
            {{$t('company.batch.modal.mfgDate')}}
            <date-picker v-model="formMfgDate" confirm style="width: 100%" :lang="lang"
                         :format="formatLang"></date-picker>
          </b-col>
          <b-col md="6">
            {{$t('company.batch.modal.expDate')}}
            <date-picker v-model="formExpDate" confirm style="width: 100%" :lang="lang"
                         :format="formatLang"></date-picker>
          </b-col>
        </b-row>
        <b-row class="mb-3">
          <b-col md="12">
            {{$t('company.batch.modal.detail')}}
            <div ref="formBatchDetailsParent">
              <froala v-model="formBatchDetails"></froala>
            </div>
          </b-col>
        </b-row>
        <b-row class="mb-3">
          <b-col md="12">
            {{$t('company.batch.modal.promotion')}}
            <froala v-model="formBatchPromotion"></froala>
          </b-col>
        </b-row>
        <b-row class="mb-3">
          <b-col md="12" class="mb-3">
            <div class="form-group">
              {{$t('company.batch.modal.private')}}
              <b-form-input v-model="formBatchPrivate"></b-form-input>
            </div>
          </b-col>
        </b-row>
        <b-row class="mb-3" v-if="formID !== ''">
          <b-col md="3">{{$t('company.product.modal.stt')}}</b-col>
          <b-col md="8">
            <b-form-radio-group v-model="statusForm" :options="optionsSttForm" text-field="name" value-field="id">
            </b-form-radio-group>
          </b-col>
        </b-row>
      </div>
    </template>
    <template slot="modal-button">
      <b-btn variant="success" @click="save()" :disabled="isFormAction">
        <span class="fa fa-spin fa-spinner" v-if="isFormAction"></span> {{$t('company.product.modal.btnSave')}}
      </b-btn>
      &nbsp;
      <b-btn variant="dark" @click="$refs[refDF].hideModal()">{{$t('company.product.modal.btnCancel')}}</b-btn>
    </template>
  </DefaultForm>
</template>

<script>
  import DefaultForm from "../../containers/DefaultForm";
  import API from '../../shared/API'

  export default {
    name: "Batch",
    components: {
      DefaultForm,
      API
    },
    data() {
      return {
        header: this.$t('company.batch.header'),
        refDF: this.$safeRef(),
        lang: this.$getLang(),
        formatLang: this.$getFormat(),
        searchName: '',
        searchProductName: '',
        searchDate: '',
        currentPage: 0,
        optionsStt: [
          {id: 0, name: this.$t('company.batch.stt.all')},
          {id: 1, name: this.$t('company.batch.stt.active')},
          {id: 2, name: this.$t('company.batch.stt.deActive')},
        ],
        optionsSttForm: [
          {id: 1, name: this.$t('company.batch.stt.active')},
          {id: 2, name: this.$t('company.batch.stt.deActive')},
        ],
        statusForm: '',
        sttSearch: null,
        tblData: [],
        fields: [
          {key: 'rowNo', label: this.$t('company.batch.table.no')},
          {key: 'productName', label: this.$t('company.batch.table.productName')},
          {key: 'name', label: this.$t('company.batch.table.batchName')},
          {key: 'code', label: this.$t('company.batch.table.code')},
          {key: 'mfgStr', label: this.$t('company.batch.table.mfgDate')},
          {key: 'expStr', label: this.$t('company.batch.table.expDate')},
          {key: 'privateInfo', label: this.$t('company.batch.table.private')},
          {key: 'statusStr', label: this.$t('company.batch.table.status')},
          {key: 'action', label: ''},

        ],
        validForm: [
          {
            property: 'formProduct', error: [
              {type: 'NULL', errorDesc: 'Xin mời chọn sản phẩm', errorDesc_en: 'Please input product'},
            ]
          },
          {
            property: 'formBatchName', error: [
              {type: 'NULL', errorDesc: 'Xin mời nhập tên lô', errorDesc_en: 'Please input batch name'},
            ]
          },
        ],
        formID: '',
        formMfgDate: '',
        formExpDate: '',
        formBatchPrivate: '',
        formProduct: null,
        formProductList: [],
        formBatchPromotion: '',
        formBatchCode: '',
        formBatchDetails: '',
        formBatchName: '',
        isFormAction: false,
      }
    },
    beforeMount() {
      this.sttSearch = this.optionsStt[0];
      let that = this;
      API.call_GET('product/cbb', {}, function (data) {
        if (data.success)
          that.formProductList = data.list;
      });
    },
    mounted() {
      this.search(0, 10);
    },
    methods: {
      search: function (pageNum, pageSize) {
        this.currentPage = pageNum;
        let rq = {
          page: pageNum,
          size: pageSize,
          name: this.searchName,
          productName: this.searchProductName,
          fromDate: this.moment(this.searchDate[0]).format('DD/MM/YYYY HH:mm:ss'),
          toDate: this.moment(this.searchDate[1]).format('DD/MM/YYYY HH:mm:ss'),
          status: this.sttSearch.id
        };
        let that = this;
        API.call_GET('batches', rq, function (res) {
          that.$refs[that.refDF].unlock();
          if (res.success) {
            that.tblData = res.list;
            that.$refs[that.refDF].setTotal(res.totalElements);
          }
          else {
            that.$error(res.message);
          }
        }, function (res) {
          that.$refs[that.refDF].unlock();
        });

      },

      errorImg() {
        this.logoSrc = '';
      },

      resetForm() {
        this.formID = '';
        this.formMfgDate = '';
        this.formExpDate = '';
        this.formBatchPrivate = '';
        this.formProduct = null;
        this.formBatchPromotion = '';
        this.formBatchCode = '';
        this.formBatchDetails = '';
        this.formBatchName = '';
        this.$reset(this.validForm);
      },

      save() {
        if (!this.$valid(this.validForm)) return;
        let rq = {
          name: this.formBatchName,
          code: this.formBatchCode,
          productId: this.formProduct.id,
          shortDescription: this.formShortDesc,
          detail: this.formBatchDetails,
          privateInfo: this.formBatchPrivate,
          promotionInfo: this.formBatchPromotion,
          mfgDate: this.moment(this.formMfgDate).format('DD/MM/YYYY HH:mm:ss'),
          expDate: this.moment(this.formExpDate).format('DD/MM/YYYY HH:mm:ss'),
          status: 1
        };
        let url = 'batches';
        if (this.formID !== '') {
          rq.status = this.statusForm;
          url = url + '/' + this.formID;
          rq.method = 'PUT';
        }
        this.isFormAction = true;
        let that = this;
        API.call(url, rq, function (res) {
          that.isFormAction = false;
          if (res.success) {
            that.$success(that.$t('common.successText'));
            that.$refs[that.refDF].hideModal();
            that.search(that.currentPage, 10);
          }
        }, function (res) {
          that.isFormAction = false;
        });
      },

      clickInfo(data) {
        let that = this;
        this.resetForm();
        this.$refs[this.refDF].openModal('info', this.$t('company.batch.modal.editHeader'));
        this.formID = data.id;
        this.formBatchName = data.name;
        this.formBatchCode = data.code;
        for (let i = 0; i < this.formProductList.length; i++)
          if (data.product.id === this.formProductList[i].id){
            this.formProduct = this.formProductList[i];
            break;
          }
        this.formBatchPrivate = data.privateInfo;
        API.call_GET('batches/' + data.id + '/detail', {}, function (res) {
          if (res.success) {
            that.formBatchDetails = res.data.detail;
          }
        });
        API.call_GET('batches/' + data.id + '/promotion', {}, function (res) {
          if (res.success) {
            that.formBatchPromotion = res.data.promotion;
          }
        });
        this.statusForm = data.status;
        this.formMfgDate = this.moment(data.mfg, 'DD/MM/YYYY HH:mm:ss').toDate();
        this.formExpDate = this.moment(data.exp, 'DD/MM/YYYY HH:mm:ss').toDate();
      }
    },
  }
</script>

<style scoped>

</style>
