<template>
  <div>
    <b-row>
      <b-col md="4">
        <b-card no-body class="bg-primary">
          <b-card-body class="pb-0">
            <h4 class="mb-0">{{allCode.toLocaleString()}}</h4>
            <p>{{$t('company.dashboard.allCode')}}</p>
          </b-card-body>
        </b-card>
      </b-col>
      <b-col md="4">
        <b-card no-body class="bg-success">
          <b-card-body class="pb-0">
            <h4 class="mb-0">{{activated.toLocaleString()}}</h4>
            <p>{{$t('company.dashboard.activated')}}</p>
          </b-card-body>
        </b-card>
      </b-col>
      <b-col md="4">
        <b-card no-body class="bg-danger">
          <b-card-body class="pb-0">
            <h4 class="mb-0">{{remainingCode.toLocaleString()}}</h4>
            <p>{{$t('company.dashboard.remaining')}}</p>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>

    <b-row>
      <b-col md="4">
        <b-card no-body class="bg-secondary">
          <b-card-body class="pb-0">
            <h4 class="mb-0">{{batches.toLocaleString()}}</h4>
            <p>{{$t('company.dashboard.allBatch')}}</p>
          </b-card-body>
        </b-card>
      </b-col>
      <b-col md="4">
        <b-card no-body class="bg-facebook">
          <b-card-body class="pb-0">
            <h4 class="mb-0">{{activatedBatch.toLocaleString()}}</h4>
            <p>{{$t('company.dashboard.activatedBatch')}}</p>
          </b-card-body>
        </b-card>
      </b-col>
      <b-col md="4">
        <b-card no-body class="bg-warning">
          <b-card-body class="pb-0">
            <h4 class="mb-0">{{scannedTimes.toLocaleString()}}</h4>
            <p>{{$t('company.dashboard.scannedTimes')}}</p>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import API from '../../shared/API'

  export default {
    name: "DashboardCompany",
    components: {
      API
    },
    data() {
      return {
        allCode: '',
        activated: '',
        batches: '',
        activatedBatch: '',
        scannedTimes: '',
        remainingCode: ''
      }
    },
    mounted() {
      let that = this;
      API.call_GET('dashboard/summaryInfo', {}, function (res) {
        if (res.success) {
          that.allCode = res.data.codes;
          that.activated = res.data.activatedCodes;
          that.batches = res.data.batches;
          that.activatedBatch = res.data.activatedBatches;
          that.scannedTimes = res.data.scannedTimes;
          that.remainingCode = that.allCode - that.activated;
        }
      });
    }
  }
</script>

<style scoped>

</style>
