<template>
  <DefaultForm :header="header" :onSearch="search" :ref="refDF" :type-search="[1, 1, 0]" :reset-modal="resetForm">
    <template slot="search">
      <b-row>
        <b-col md="4">
          <div class="form-group">
            {{$t('company.product.search.name')}}
            <b-form-input type="text" class="form-control" v-model="searchName"></b-form-input>
          </div>
        </b-col>

        <b-col md="4">
          <div class="form-group">
            {{$t('company.product.search.stt')}}
            <v-select :options="optionsStt" v-model="sttSearch" label="name" :clearable="false"></v-select>
          </div>
        </b-col>

        <b-col md="4">
          <div class="form-group">
            {{$t('company.product.search.type')}}
            <v-select :options="formProductTypeList" v-model="searchType" label="name"
                      :placeholder="$t('company.product.search.plProductType')"></v-select>
          </div>
        </b-col>

      </b-row>

      <b-row>
        <b-col md="4">
          <div class="form-group">
            {{$t('company.product.search.code')}}
            <b-form-input type="text" class="form-control" v-model="searchCode"></b-form-input>
          </div>
        </b-col>

        <b-col md="4">
          <div class="form-group">
            {{$t('company.product.search.shortDesc')}}
            <b-form-input type="text" class="form-control" v-model="searchDesc"></b-form-input>
          </div>
        </b-col>
      </b-row>
    </template>
    <template slot="viewData">
      <b-table responsive :items="tblData" :fields="fields" striped bordered hover
               caption-top>
        <template slot="typeStr" slot-scope="data">
          {{data.item.type.name}}
        </template>
        <template slot="statusStr" slot-scope="data">
          {{optionsStt[data.item.status].name}}
        </template>
        <template slot="action" slot-scope="data">
          <b-link @click="clickInfo(data.item)" v-b-tooltip :title="$t('admin.pack.table.clEdit')"><span
            class="fa fa-edit"></span></b-link>
        </template>
      </b-table>
    </template>
    <template slot="modal">
      <div class="col-md-12 form-group">
        <b-row class="mb-3">
          <b-col md="6">
            {{$t('company.product.modal.productName')}}
            <div ref="formProductNameParent">
              <b-form-input v-model="formProductName"></b-form-input>
            </div>
          </b-col>
          <b-col md="6">
            {{$t('company.product.modal.productType')}}
            <div ref="formProductTypeParent">
              <v-select :options="formProductTypeList" v-model="formProductType" label="name"></v-select>
            </div>
          </b-col>
        </b-row>
        <b-row class="mb-3">
          <b-col md="6">
            {{$t('company.product.modal.productCode')}}
            <div ref="formProductCodeParent">
              <b-form-input v-model="formProductCode"></b-form-input>
            </div>
          </b-col>
          <b-col md="6">
            {{$t('company.product.modal.shortDesc')}}
            <b-form-input v-model="formShortDesc"></b-form-input>
          </b-col>
        </b-row>
        <b-row class="mb-3">
          <b-col md="12">
            {{$t('company.product.modal.productInfo')}}
            <div ref="formDetailsParent">
              <froala v-model="formDetails"></froala>
            </div>
          </b-col>
        </b-row>
        <b-row class="mb-3">
          <b-col md="12">
            {{$t('company.product.modal.manual')}}
            <froala v-model="formManual"></froala>
          </b-col>
        </b-row>
        <b-row class="mb-3" v-if="formID !== ''">
          <b-col md="3">{{$t('company.product.modal.stt')}}</b-col>
          <b-col md="8">
            <b-form-radio-group v-model="statusForm" :options="optionsSttForm" text-field="name" value-field="id">
            </b-form-radio-group>
          </b-col>
        </b-row>
        <b-row class="mb-3">
          <b-col md="6" class="mb-3">
            <div class="form-group">
              {{$t('company.product.modal.imgFile')}}
              <div ref="logoSrcParent">
                <b-input-group>
                  <b-form-file v-model="fileLogo"
                               accept="image/*"
                               ref="fileLogo"/>
                </b-input-group>
              </div>
            </div>
          </b-col>
          <b-col md="6" class="mb-3">
            <b-img :src="logoSrc" @error="errorImg()" fluid/>
          </b-col>
        </b-row>
      </div>
    </template>
    <template slot="modal-button">
      <b-btn variant="success" @click="save()" :disabled="isFormAction">
        <span class="fa fa-spin fa-spinner" v-if="isFormAction"></span> {{$t('company.product.modal.btnSave')}}
      </b-btn>
      &nbsp;
      <b-btn variant="dark" @click="$refs[refDF].hideModal()">{{$t('company.product.modal.btnCancel')}}</b-btn>
    </template>
  </DefaultForm>
</template>

<script>
  import DefaultForm from "../../containers/DefaultForm";
  import API from '../../shared/API'

  export default {
    name: "ProductCompany",
    components: {
      DefaultForm,
      API
    },
    data() {
      return {
        header: this.$t('company.product.header'),
        refDF: this.$safeRef(),
        searchName: '',
        searchCode: '',
        searchDesc: '',
        searchType: null,
        currentPage: 0,
        optionsStt: [
          {id: 0, name: this.$t('company.product.stt.all')},
          {id: 1, name: this.$t('company.product.stt.active')},
          {id: 2, name: this.$t('company.product.stt.deActive')},
        ],
        optionsSttForm: [
          {id: 1, name: this.$t('company.product.stt.active')},
          {id: 2, name: this.$t('company.product.stt.deActive')},
        ],
        statusForm: '',
        sttSearch: null,
        tblData: [],
        fields: [
          {key: 'rowNo', label: this.$t('company.product.table.no')},
          {key: 'name', label: this.$t('company.product.table.productName')},
          {key: 'code', label: this.$t('company.product.table.productCode')},
          {key: 'shortDescription', label: this.$t('company.product.table.shortDesc')},
          {key: 'typeStr', label: this.$t('company.product.table.productType')},
          {key: 'statusStr', label: this.$t('company.product.table.status')},
          {key: 'action', label: ''},

        ],
        validForm: [
          {
            property: 'formProductName', error: [
              {type: 'NULL', errorDesc: 'Xin mời nhập tên sản phẩm', errorDesc_en: 'Please input product name'},
            ]
          },
          {
            property: 'formProductType', error: [
              {type: 'NULL', errorDesc: 'Xin mời chọn loại sản phẩm', errorDesc_en: 'Please input product type'},
            ]
          },
          {
            property: 'formProductCode', error: [
              {type: 'NULL', errorDesc: 'Xin mời nhập mã sản phẩm', errorDesc_en: 'Please input product code'},
            ]
          },
          {
            property: 'formDetails', error: [
              {
                type: 'NULL',
                errorDesc: 'Xin mời nhập thông tin sản phẩm',
                errorDesc_en: 'Please input product details'
              },
            ]
          },
          {
            property: 'logoSrc', error: [
              {
                type: 'NULL',
                errorDesc: 'Xin mời nhập file avatar sản phẩm',
                errorDesc_en: 'Please input avatar of product'
              },
            ]
          },
        ],
        formID: '',
        logoSrc: '',
        formProductName: '',
        formProductType: null,
        formProductTypeList: [],
        formProductCode: '',
        formShortDesc: '',
        formDetails: '',
        formManual: '',
        fileLogo: null,
        isFormAction: false,
        oldSrc: ''
      }
    },
    beforeMount() {
      this.sttSearch = this.optionsStt[0];
      let that = this;
      API.call_GET('productType/cbb', {}, function (data) {
        if (data.success)
          that.formProductTypeList = data.list;
      });
    },
    mounted(){
      this.search(0, 10);
    },
    methods: {
      search: function (pageNum, pageSize) {
        this.currentPage = pageNum;
        let rq = {
          page: pageNum,
          size: pageSize,
          name: this.searchName,
          code: this.searchCode,
          type: this.searchType == null ? 0 : this.searchType.id,
          shortDescription: this.searchDesc,
          status: this.sttSearch.id
        };
        let that = this;
        API.call_GET('product', rq, function (res) {
          that.$refs[that.refDF].unlock();
          if (res.success) {
            that.tblData = res.list;
            that.$refs[that.refDF].setTotal(res.totalElements);
          }
          else {
            that.$error(res.message);
          }
        }, function (res) {
          that.$refs[that.refDF].unlock();
        });

      },

      errorImg() {
        this.logoSrc = '';
      },

      resetForm() {
        this.formID = '';
        this.logoSrc = '';
        this.formProductName = '';
        this.formProductType = null;
        this.formProductCode = '';
        this.formShortDesc = '';
        this.formDetails = '';
        this.formManual = '';
        this.fileLogo = null;
        this.$refs.fileLogo.reset();
        this.$reset(this.validForm);
        this.oldSrc = '';
      },

      save() {
        if (!this.$valid(this.validForm)) return;
        let rq = {
          name: this.formProductName,
          code: this.formProductCode,
          type: this.formProductType.id,
          shortDescription: this.formShortDesc,
          detail: this.formDetails,
          userGuide: this.formManual,
        };
        let url = 'product';
        if (this.oldSrc !== this.logoSrc) rq.avatar = this.fileLogo;
        if (this.formID !== '') {
          rq.status = this.statusForm;
          url = url + '/' + this.formID;
          rq.method = 'PUT';
        }
        this.isFormAction = true;
        let that = this;
        API.call_upload(url, rq, function (res) {
          that.isFormAction = false;
          if (res.success) {
            that.$success(that.$t('common.successText'));
            that.$refs[that.refDF].hideModal();
            that.search(that.currentPage, 10);
          }
        }, function (res) {
          that.isFormAction = false;
        });
      },

      clickInfo(data) {
        let that = this;
        this.resetForm();
        this.$refs[this.refDF].openModal('info', this.$t('company.product.modal.editHeader'));
        this.formID = data.id;
        this.formProductName = data.name;
        for (let i = 0; i < this.formProductTypeList.length; i++)
          if (data.type.id === this.formProductTypeList[i].id) {
            this.formProductType = this.formProductTypeList[i];
            break;
          }
        this.formProductCode = data.code;
        this.formShortDesc = data.shortDescription;
        API.call_GET('product/' + data.id + '/detail', {}, function (res) {
          if (res.success) {
            that.formDetails = res.data.detail;
          }
        });
        API.call_GET('product/' + data.id + '/userGuide', {}, function (res) {
          if (res.success) {
            that.formManual = res.data.userGuide;
          }
        });
        API.call_download('product/' + data.id + '/avatar/' + data.avatar, {}, function (res) {
          that.logoSrc = 'data:image/png;base64,' + new Buffer(res, 'binary').toString('base64');
          that.oldSrc = that.logoSrc;
        });
        this.fileLogo = null;
        this.statusForm = data.status;
      }
    },
    watch: {
      fileLogo: function (val) {
        if (val === null || val === undefined) return;
        let that = this;
        let reader = new FileReader();
        reader.readAsDataURL(val);
        reader.onload = function () {
          that.logoSrc = reader.result;
        };
        reader.onerror = function (error) {
          that.logoSrc = '';
        };
      },
    }
  }
</script>

<style scoped>

</style>
