<template>
  <div class="app">
    <AppHeader fixed>
      <SidebarToggler class="d-lg-none" display="md" mobile/>
      <b-link class="navbar-brand" to="#">
        <img class="navbar-brand-full" src="img/brand/BRAND.png" width="89" height="25" alt="CoreUI Logo">
        <img class="navbar-brand-minimized" src="img/brand/brand-2.png" width="30" height="30" alt="CoreUI Logo">
      </b-link>
      <SidebarToggler class="d-md-down-none" display="lg"/>
      <!--<MenuContainer :menuItems="nav"/>-->
      <b-navbar-nav class="ml-auto">
        <DefaultHeaderDropdownAccnt/>
        <locale-changer/>
      </b-navbar-nav>

      <!--<AsideToggler class="d-lg-none" mobile />-->
    </AppHeader>
    <div class="app-body">
      <AppSidebar fixed>
        <SidebarHeader/>
        <SidebarForm/>
        <SidebarNav :navItems="nav"></SidebarNav>
        <SidebarFooter/>
        <SidebarMinimizer/>
      </AppSidebar>
      <main class="main">
        <!--<Breadcrumb :list="list"/>-->
        <b-breadcrumb :items="list"/>
        <div class="container-fluid">
          <router-view></router-view>
        </div>
      </main>
      <AppAside fixed>
        <!--aside-->
        <DefaultAside/>
      </AppAside>
    </div>
    <TheFooter>
      <!--footer-->
      <div>
        <a href="https://google.com.vn">CheckTax</a>
        <span class="ml-1">&copy; 2018</span>
      </div>
      <div class="ml-auto">
        <span class="mr-1">Powered by</span>
        <a href="mailto://thucvu164@gmail.com">Thuc Vu</a>
        <span class="mr-1"> based on CoreUI</span>
      </div>
    </TheFooter>
  </div>
</template>

<script>
  import {
    Header as AppHeader,
    SidebarToggler,
    Sidebar as AppSidebar,
    SidebarFooter,
    SidebarForm,
    SidebarHeader,
    SidebarMinimizer,
    SidebarNav,
    Aside as AppAside,
    AsideToggler,
    Footer as TheFooter,
    Breadcrumb
  } from '@coreui/vue'
  import DefaultAside from './DefaultAside'
  import DefaultHeaderDropdownAccnt from './DefaultHeaderDropdownAccnt'
  import LocaleChanger from "./LocaleChanger";
  import API from './../shared/API'
  // import MenuContainer from './MenuContainer'


  export default {
    name: 'full',
    components: {
      LocaleChanger,
      AsideToggler,
      AppHeader,
      AppSidebar,
      AppAside,
      TheFooter,
      Breadcrumb,
      DefaultAside,
      DefaultHeaderDropdownAccnt,
      SidebarForm,
      SidebarFooter,
      SidebarToggler,
      SidebarHeader,
      SidebarNav,
      SidebarMinimizer,
      API
      // MenuContainer
    },
    data() {
      return {
        nav: [],
      }
    },
    mounted(){
      if (!this.$isNull(localStorage.nav))
        this.nav = JSON.parse(localStorage.nav);
      else {
        let that = this;
        API.call_GET('user/menu', {}, function (res) {
          if (res.success){
            that.nav = res.list;
            localStorage.nav = JSON.stringify(that.nav);
          }
        });
      }
    },

    computed: {
      name() {
        return this.$route.name
      },
      list() {
        let list = this.$route.matched.filter((route) => route.name)
        let brList = [];
        for (let i = 0; i < list.length; i++){
          let br = {
            text: this.$te('title.' + list[i].name) ? this.$t('title.' + list[i].name) : list[i].name,
            href: '#' + list[i].path,
            active: this.name === list[i].name
          }
          brList.push(br);
        }
        return brList;
      },
    }
  }
</script>
