<template>
  <AppHeaderDropdown right no-caret>
    <template slot="header">
      <display-dt-mb display="lg" class="d-md-down-none"><b>{{name}}</b></display-dt-mb>
      <img
        src="img/avatars/6.jpg"
        class="img-avatar"
        alt="admin@bootstrapmaster.com" />
    </template>
    <template slot="dropdown">
      <b-dropdown-header tag="div" class="text-center"><strong>Account</strong></b-dropdown-header>
      <b-dropdown-item :to="'/user-profile'"><i class="fa fa-user" /> Profile</b-dropdown-item>
      <b-dropdown-item @click="logout()"><i class="fa fa-lock"/> Logout</b-dropdown-item>
    </template>
  </AppHeaderDropdown>
</template>

<script>
import { HeaderDropdown as AppHeaderDropdown } from '@coreui/vue'
export default {
  name: 'DefaultHeaderDropdownAccnt',
  components: {
    AppHeaderDropdown
  },
  data: () => {
    return { name: '' }
  },
  mounted() {
    this.name = localStorage.name;
  },
  methods: {
    logout(){
      localStorage.token = '';
      //call logout user
      this.$router.replace({name: 'Login'});
    }
  }
}
</script>
