<template>
  <div>
    <b-card :title="header">
      <div class="mb-3">
        <div class="mb-3 col-md-12">
          <slot name="search"></slot>
        </div>
        <slot name="button">
          <div style="margin: auto;text-align: center">
            <b-btn variant="success" @click="runSearch()" v-if="typeSearch[0]!==0" :disabled="isLock">
              <span class="fa fa-spin fa-spinner" v-if="isLock"></span>
              <span class="fa fa-search" v-if="!isLock"></span> {{$t('common.searchBtn')}}
            </b-btn>
            &nbsp;
            <b-btn variant="primary" @click="openModal()" v-if="typeSearch[1]!==0" :disabled="isLock">
              <span class="fa fa-spin fa-spinner" v-if="isLock"></span>
              <span class="fa fa-plus" v-if="!isLock"></span> {{$t('common.addBtn')}}
            </b-btn>
            &nbsp;
            <b-btn @click="runSearch()" v-if="typeSearch[2]!==0" :disabled="isLock">
              <span class="fa fa-spin fa-spinner" v-if="isLock"></span>
              <span class="fa fa-file-excel-o" v-if="!isLock"></span> {{$t('common.expBtn')}}
            </b-btn>
          </div>
        </slot>
      </div>
      <hr/>
      <div class="mb-3" v-if="total > 0">
        <slot name="viewData"></slot>
      </div>
      <paginate
        v-model="currentPage"
        :margin-pages="2"
        :page-range="5"
        :page-size="pageSize"
        :container-class="'pagination'"
        :page-class="'page-item'"
        :page-link-class="'page-link-item'"
        :prev-class="'prev-item'"
        :prev-link-class="'prev-link-item'"
        :next-class="'next-item'"
        :next-link-class="'next-link-item'"
        :break-view-class="'break-view'"
        :break-view-link-class="'break-view-link'"
        :first-last-button="true"
        :ref="refPage"
        :click-handler="clickPage"
      ></paginate>
    </b-card>
    <b-modal :ref="refModal" :title="$t('common.addBtn')" :ok-variant="variantModal"
             :class="'modal-' + variantModal" size="xl" no-close-on-backdrop>
      <slot name="modal"></slot>
      <template slot="modal-footer">
        <slot name="modal-button"></slot>
      </template>
    </b-modal>
  </div>
</template>
<script>
  export default {
    name: 'DefaultForm',
    components: {},
    props: {
      pageSize: {
        type: Number,
        default: 10
      },
      onSearch: Function,
      resetModal: Function,
      header: {
        type: String
      },
      typeSearch: {
        type: Array,
        default: [1, 1, 1]
      }
    },
    data() {
      return {
        currentPage: 1,
        total: 0,
        refPage: this.$safeRef(),
        refModal: this.$safeRef(),
        isLock: false,
        variantModal: 'primary'
      }
    },
    methods: {
      runSearch: function () {
        this.currentPage = 1;
        this.lock();
        this.onSearch(0, this.pageSize);
      },
      setTotal: function (total) {
        this.total = total;
        this.$refs[this.refPage].changeTotal(total);
      },
      clickPage: function (pageNum) {
        this.lock();
        this.onSearch(pageNum - 1, this.pageSize);
      },
      lock: function () {
        this.isLock = true;
      },
      unlock: function () {
        this.isLock = false;
      },
      openModal: function (variant = 'primary', title = null) {
        this.variantModal = variant;
        this.$refs[this.refModal].show();
        if (title !== null) this.$refs[this.refModal].$refs.header.firstChild.innerHTML = title;
        else this.$refs[this.refModal].$refs.header.firstChild.innerHTML = this.$t('common.addBtn');
        if (this.resetModal !== null && this.resetModal !== undefined)
          this.resetModal();
      },

      hideModal: function () {
        this.$refs[this.refModal].hide();
      }
    },
    watch: {},

  }
</script>
<style lang="css">

</style>
