<template>
  <div style="display: inline-block">
    <slot :display="display"
          :mobile="mobile"></slot>
  </div>
</template>
<script>
  import {sidebarCssClasses, validBreakpoints, checkBreakpoint} from '@coreui/vue/src/shared/classes'
  import toggleClasses from '@coreui/vue/src/shared/toggle-classes'

  export default {
    name: 'display-dt-mb',
    props: {
      defaultOpen: {
        type: Boolean,
        default: true
      },
      display: {
        type: String,
        default: 'lg'
      },
      mobile: {
        type: Boolean,
        default: false
      }
    },
    mounted: function () {
      this.toggle(this.defaultOpen)
    },
    methods: {
      toggle(force) {
        const [display, mobile] = [this.display, this.mobile]
        let cssClass = sidebarCssClasses[0]
        if (!mobile && display && checkBreakpoint(display, validBreakpoints)) {
          cssClass = `sidebar-${display}-show`
        }
        toggleClasses(cssClass, sidebarCssClasses, force)
      },
    }
  }
</script>
