<template>
<small v-if="isError" style="width: 100% !important; margin-top: 0.25rem !important; font-size: 80% !important; color: #f86c6b !important;" :id="errorID">
  <span class="fa fa-times fa-fw"></span>&nbsp;{{errorDesc}}
</small>
</template>
<script>
  export default {
    name: 'form-error',
    data() {
      return {
        isError: false,
        errorDesc: '',
        errorID: '',
      };
    },
    methods: {
      setError(data) {
        this.isError = data;
      },
      setErrorDesc(desc) {
        this.errorDesc = desc;
      },
      setErrorID(id) {
        this.errorID = id;
      }
    },
  }
</script>
