<template>
  <b-navbar-nav class="d-md-down-none">
    <template v-for="item in menuItems">
      <template v-if="item.title || item.divider || item.label">
      </template>
      <template v-else>
        <template v-if="item.children">
          <MenuDropdown :menuItem="item"/>
        </template>
        <template v-else>
          <b-nav-item class="px-3" :to="item.url" exact>
            <span v-if="item.icon" :class="item.icon"/> {{item.name}}
            <b-badge v-if="item.badge && item.badge.text" :variant="item.badge.variant" style="position: inherit">
              {{item.badge.text}}
            </b-badge>
          </b-nav-item>
        </template>
      </template>
    </template>
  </b-navbar-nav>
</template>
<script>
  import MenuDropdown from './MenuDropdown'

  export default {
    name: 'MenuContainer',
    props: {
      menuItems: {
        type: Array,
        required: true,
        default: () => []
      }
    }, components: {
      MenuDropdown
    },
    data() {
      return {}
    }
  }
</script>
