<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="10">
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body>
                <b-form>
                  <div style="display: flex">
                    <div style="flex-wrap: wrap; min-width: 1px;width: 20000px"></div>
                    <locale-changer/>
                  </div>
                  <h1>{{$t("login.titleLogin")}}</h1>
                  <p class="text-muted">{{$t("login.headerDesc")}}</p>
                  <div class="mb-3" ref="usernameParent">
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-input-group-text><i class="icon-user"></i></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input type="text" class="form-control" placeholder="Username" autocomplete="username"
                                    @keydown.enter.native="loginUser"
                                    v-model="username"/>
                    </b-input-group>
                  </div>
                  <div class="mb-4" ref="passwordParent">
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-input-group-text><i class="icon-lock"></i></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input type="password" class="form-control" placeholder="Password"
                                    @keydown.enter.native="loginUser"
                                    autocomplete="current-password" v-model="password"/>
                    </b-input-group>
                  </div>
                  <b-row>
                    <b-col cols="6">
                      <b-button variant="primary" class="px-4" @click="loginUser()">
                        <span class="fa fa-spin fa-spinner" v-if="isLogin"></span> {{$t("login.btnLogin")}}
                      </b-button>
                    </b-col>
                    <b-col cols="6" class="text-right">
                      <b-button variant="link" class="px-0" @click="forgotPassword()">{{$t("login.lForgotPass")}}</b-button>
                    </b-col>
                  </b-row>
                </b-form>
              </b-card-body>
            </b-card>
            <b-card no-body class="text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <b-card-body class="text-center">
                <div>
                  <h2>{{$t("login.headerRegister")}}</h2>
                  <p>{{$t("login.headerRegisterDesc")}}</p>
                  <b-button variant="primary" class="active mt-3" @click="gotoRegister()">{{$t("login.btnReg")}}</b-button>
                </div>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
  import API from './../../shared/API'
  import LocaleChanger from "../../containers/LocaleChanger";

  export default {
    name: 'Login',
    components: {LocaleChanger, API},
    data() {
      return {
        username: '',
        password: '',
        isLogin: false,
        validForm: [
          {
            property: 'username', error: [
              {type: 'NULL', errorDesc: 'Xin mời nhập tài khoản', errorDesc_en: 'Please input your username'},
              {type: 'MAX-LENGTH', data: 200, errorDesc: 'Tài khoản không được quá 200 ký tự', errorDesc_en: 'Username must be less than 200 characters'},
            ]
          },
          {
            property: 'password', error: [
              {type: 'NULL', errorDesc: 'Xin mời nhập mật khẩu', errorDesc_en: 'Please input your password'},
            ]
          },
        ],
      }
    },
    mounted() {
    },
    methods: {
      gotoRegister() {
        this.$router.replace({name: 'Register'});
      },
      loginUser() {
        if (this.isLogin) return;
        if (!this.$valid(this.validForm)) return;
        let that = this;
        this.isLogin = true;
        API.call_POST('auth/signIn', {usernameOrEmail: this.username, password: this.password}, function (res) {
          that.isLogin = false;
          //getting role, function, cache anything here
          if (res.success) {
            that.$success(that.$t('login.toastrLoginSuccess'));
            localStorage.name = res.data.user.userName;
            localStorage.email = res.data.user.email;
            localStorage.phone = res.data.user.phoneNumber;
            localStorage.userID = res.data.user.userId;
            localStorage.token = res.data.user.token;
            localStorage.nav = '';
            localStorage.userType = res.data.user.userType;
            if (localStorage.userType === 'COMPANY')
              that.$router.replace({name: 'DashboardCompany'});
            else if (localStorage.userType === 'SUPER_ADMIN')
              that.$router.replace({name: 'DashboardAdmin'});
            else that.$router.replace({name: 'Page404'});
          } else {
            that.$error(res.message, true);
          }
        }, function (errRes) {
          that.isLogin = false;
          if (errRes != null) that.$error(errRes.data.message, true);
        });
      },
      forgotPassword() {

      }
    }
  }
</script>
