<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="11">
          <b-card no-body class="mx-3">
            <b-card-body class="p-4">
              <b-form>
                <div style="display: flex">
                  <div style="flex-wrap: wrap; min-width: 1px;width: 20000px"></div>
                  <locale-changer/>
                </div>
                <div style="margin: auto;text-align: center">
                  <h1>{{$t('registerSuccess.pageHead')}}</h1>
                  <p class="text-muted">{{$t('registerSuccess.pageDesc')}}</p>
                  <p v-html="$t('registerSuccess.backMess')"></p>
                </div>
              </b-form>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
  import LocaleChanger from "../../containers/LocaleChanger";

  export default {
    name: 'RegisterSuccess',
    components: {LocaleChanger},

    data() {
      return {}
    },
    methods: {
      backToLogin() {
        this.$router.replace({name: 'Login'});
      },
    },
  }
</script>
