<template>
  <DefaultForm :header="header" :onSearch="search" :type-search="[1, 0, 0]" :ref="refDF">
    <template slot="search">
      <b-row>
        <b-col md="8">
          <div class="form-group">
            {{$t('admin.reportScan.search.companyName')}}
            <b-form-input type="text" class="form-control" v-model="searchName"></b-form-input>
          </div>
        </b-col>
        <!--<b-col md="4">-->
        <!--<div class="form-group">-->
        <!--{{$t('admin.reportScan.search.status')}}-->
        <!--<v-select :options="optionsStt" v-model="sttSearch" label="name" :clearable="false"></v-select>-->
        <!--</div>-->
        <!--</b-col>-->
      </b-row>
      <!--<b-row>-->
        <!--<b-col md="4">-->
          <!--<div class="form-group">-->
            <!--{{$t('admin.reportScan.search.fromDate')}}-->
            <!--<date-picker v-model="fromDate" confirm style="width: 100%" :lang="lang"-->
                         <!--:format="formatLang"></date-picker>-->
          <!--</div>-->
        <!--</b-col>-->
        <!--<b-col md="4">-->
          <!--<div class="form-group">-->
            <!--{{$t('admin.reportScan.search.toDate')}}-->
            <!--<date-picker v-model="toDate" confirm style="width: 100%" :lang="lang"-->
                         <!--:format="formatLang"></date-picker>-->
          <!--</div>-->
        <!--</b-col>-->
      <!--</b-row>-->
    </template>
    <template slot="viewData">
      <b-table responsive :items="tblData" :fields="fields" striped bordered hover>
        <template slot="ACTIVATED_DATE" slot-scope="data">
          {{moment(data.item.S_ACTIVATED_DATE, 'DD/MM/YYYY').format(formatLang)}}
        </template>
      </b-table>
    </template>
  </DefaultForm>
</template>

<script>
  import DefaultForm from "../../../containers/DefaultForm";
  import API from "../../../shared/API";

  export default {
    name: "ReportScanForAdmin",
    components: {DefaultForm, API},
    data() {
      return {
        header: this.$t('admin.reportScan.header'),
        currentPage: 0,
        refDF: this.$safeRef(),
        lang: this.$getLang(),
        formatLang: this.$getFormat(),
        fromDate: '',
        toDate: '',
        optionsStt: [{id: 0, name: 'TEST'}],
        sttSearch: null,
        searchName: '',
        tblData: [],
        fields: [
          {key: 'N_STT', label: this.$t('admin.reportScan.table.stt')},
          {key: 'S_COMPANY_NAME', label: this.$t('admin.reportScan.table.compName')},
          {key: 'S_DEVICE_PLATFORM', label: this.$t('admin.reportScan.table.platform')},
          {key: 'S_DEVICE_TYPE', label: this.$t('admin.reportScan.table.deviceType')},
          {key: 'N_TOTAL_DEVICE_SCAN', label: this.$t('admin.reportScan.table.scanTimes')},
        ]
      }
    },
    methods: {
      search(pageNum, pageSize) {
        this.currentPage = pageNum;
        let rq = {
          page: pageNum,
          size: pageSize,
          companyName: this.searchName,
          deviceType: -1,
          devicePlatform: -1
          // fromDate: this.moment(this.fromDate).format('DD/MM/YYYY'),
          // toDate: this.moment(this.toDate).format('DD/MM/YYYY'),
          // status: this.sttSearch.id
        };
        let that = this;
        API.call_GET('sAdmin/report/scan', rq, function (res) {
          if (res.success) {
            that.tblData = res.list;
            that.$refs[that.refDF].setTotal(res.totalElements);
          }
          that.$refs[that.refDF].unlock();

        }, function (res) {
          that.$refs[that.refDF].unlock();
        });
      }
    },
    beforeMount() {
      this.sttSearch = this.optionsStt[0];
    }
  }
</script>

<style scoped>

</style>
