<template>
  <div class="animated fadeIn">
  </div>
</template>

<script>
  export default {
    name: 'dashboard',
    components: {},
    data: function () {
      return {}
    },
    mounted() {
      if (this.$isNull(localStorage.token)) this.$router.replace({name: 'Login'});
      else {
        if (localStorage.userType === 'COMPANY')
          this.$router.replace({name: 'DashboardCompany'});
        else if (localStorage.userType === 'SUPER_ADMIN')
          this.$router.replace({name: 'DashboardAdmin'});
        else this.$router.replace({name: 'Page404'});
      }
    },
    methods: {}
  }
</script>

<style>
  /* IE fix */
  #card-chart-01, #card-chart-02 {
    width: 100% !important;
  }
</style>
