<template>
  <DefaultForm :header="header" :onSearch="search" :ref="refDF" :type-search="[1, 0, 0]">
    <template slot="search">
      <b-row>
        <b-col md="4">
          <div class="form-group">
            {{$t('admin.company.search.name')}}
            <b-form-input type="text" class="form-control" v-model="searchName"></b-form-input>
          </div>
        </b-col>
        <b-col md="4">
          <div class="form-group">
            {{$t('admin.company.search.email')}}
            <b-form-input type="text" class="form-control" v-model="searchEmail"></b-form-input>
          </div>
        </b-col>
        <b-col md="4">
          <div class="form-group">
            {{$t('admin.company.search.phone')}}
            <b-form-input type="text" class="form-control" v-model="searchPhone"></b-form-input>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="4">
          <div class="form-group">
            {{$t('admin.company.search.stt')}}
            <v-select :options="optionsStt" v-model="sttSearch" label="name" :clearable="false"></v-select>
          </div>
        </b-col>
        <b-col md="4">
          <div class="form-group">
            {{$t('admin.company.search.province')}}
            <v-select :options="optionsProvince" v-model="provinceSelected" label="name"
                      :placeholder="$t('registerPage.dfNameProvince')"></v-select>
          </div>
        </b-col>
        <b-col md="4">
          <div class="form-group">
            {{$t('admin.company.search.district')}}
            <v-select :options="optionsDistrict" v-model="districtSelected" label="name"
                      :placeholder="$t('registerPage.dfNameDistrict')"></v-select>
          </div>
        </b-col>
      </b-row>
    </template>
    <template slot="viewData">
      <b-table responsive :items="tblData" :fields="fields" striped bordered hover @row-clicked="rowClicked"
               caption-top>
        <template slot="table-caption">
          {{$t('admin.company.table.caption')}}
        </template>
        <template slot="provinceStr" slot-scope="data">
          {{data.item.province.name}}
        </template>
        <template slot="districtStr" slot-scope="data">
          {{data.item.district.name}}
        </template>
        <template slot="processStr" slot-scope="data">
          <b-badge :variant="getVariantStatus(data.item.process)">{{getStatus(data.item.process)}}</b-badge>
        </template>
      </b-table>
    </template>
    <template slot="modal">
      <div class="col-md-12">
        <b-row>
          <b-col md="8" class="form-group">
            {{$t('admin.company.modal.companyName')}}
            <b-form-input v-model="formModal.companyName" disabled></b-form-input>
          </b-col>
          <b-col md="4" class="form-group">
            {{$t('admin.company.modal.taxCode')}}
            <b-form-input v-model="formModal.taxCode" disabled></b-form-input>
          </b-col>

        </b-row>
        <b-row>
          <b-col md="4" class="form-group">
            {{$t('admin.company.modal.email')}}
            <b-form-input v-model="formModal.email" disabled></b-form-input>
          </b-col>
          <b-col md="4" class="form-group">
            {{$t('admin.company.modal.phone')}}
            <b-form-input v-model="formModal.phone" disabled></b-form-input>
          </b-col>
          <b-col md="4" class="form-group">
            {{$t('admin.company.modal.website')}}
            <b-form-input v-model="formModal.website" disabled></b-form-input>
          </b-col>

        </b-row>
        <b-row>
          <b-col md="12" class="form-group">
            {{$t('admin.company.modal.productType')}}
            <b-form-input v-model="formModal.productType" disabled></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="6" class="form-group">
            {{$t('admin.company.modal.logo')}}
            <b-img :src="formModal.logo" alt="..." fluid/>
          </b-col>
          <b-col md="6" class="form-group">
            {{$t('admin.company.modal.license')}}
            <b-row>
              <b-col v-for="license in formModal.licenses">
                <b-link @click="downloadLicense(license)">{{license.fileName}}</b-link>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="4" class="form-group">
            {{$t('admin.company.modal.province')}}
            <v-select :options="optionsProvince" v-model="formModal.provinceSelected" label="name"
                      disabled></v-select>
          </b-col>
          <b-col md="4" class="form-group">
            {{$t('admin.company.modal.district')}}
            <v-select :options="formModal.optionsDistrict" v-model="formModal.districtSelected" label="name"
                      disabled></v-select>
          </b-col>
          <b-col md="4" class="form-group">
            {{$t('admin.company.modal.address')}}
            <b-form-input v-model="formModal.address" disabled></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="6" class="form-group">
            {{$t('admin.company.modal.contactMail')}}
            <b-form-input v-model="formModal.contactMail" disabled></b-form-input>
          </b-col>
          <b-col md="6" class="form-group">
            {{$t('admin.company.modal.contactPhone')}}
            <b-form-input v-model="formModal.contactPhone" disabled></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="12" class="form-group">
            {{$t('admin.company.modal.rejectReason')}}
            <div ref="rejectReasonParent">
              <b-form-textarea v-model="rejectReason" :rows="3" :disabled="formModal.process !== 1"></b-form-textarea>
            </div>
          </b-col>
        </b-row>
      </div>
    </template>
    <template slot="modal-button">
      <div class="col-md-12">
        <b-row>
          <b-col md="4" style="text-align: left">
            <b-btn variant="success" v-if="formModal.process === 1"
                   v-confirm="{loader: true,
                   ok: approve,
                   okText: this.$t('common.okText'),
                   cancelText: this.$t('common.cancelText'),
                   message: $t('admin.company.modal.approveText')}">
              {{$t('admin.company.modal.btnApproved')}}
            </b-btn>
          </b-col>
          <b-col md="4" style="text-align: center">
            <b-btn variant="danger" v-if="formModal.process === 1" @click="reject()">
              {{$t('admin.company.modal.btnReject')}}
            </b-btn>
          </b-col>
          <b-col md="4" style="text-align: right">
            <b-btn variant="dark" @click="$refs[refDF].hideModal()">{{$t('admin.company.modal.btnCancel')}}</b-btn>
          </b-col>
        </b-row>
      </div>
    </template>
  </DefaultForm>
</template>

<script>
  import DefaultForm from "../../containers/DefaultForm";
  import API from '../../shared/API'

  export default {
    name: "AdminCompany",
    components: {
      DefaultForm,
      API
    },
    data() {
      return {
        header: this.$t('admin.company.header'),
        refDF: this.$safeRef(),
        searchName: '',
        currentPage: 0,
        searchEmail: '',
        searchPhone: '',
        optionsProvince: [],
        optionsDistrict: [],
        optionsStt: [
          {id: 0, name: this.$t('admin.company.stt.default')},
          {id: 1, name: this.$t('admin.company.stt.requested')},
          {id: 2, name: this.$t('admin.company.stt.rejected')},
          {id: 3, name: this.$t('admin.company.stt.accept')},
          {id: 4, name: this.$t('admin.company.stt.deactive')},
        ],
        sttSearch: null,
        provinceSelected: null,
        districtSelected: null,
        tblData: [],
        fields: [
          {key: 'rowNo', label: this.$t('admin.company.table.no')},
          {key: 'companyName', label: this.$t('admin.company.table.comName')},
          {key: 'taxCode', label: this.$t('admin.company.table.taxCode')},
          {key: 'email', label: this.$t('admin.company.table.email')},
          {key: 'address', label: this.$t('admin.company.table.address')},
          {key: 'provinceStr', label: this.$t('admin.company.table.province')},
          {key: 'districtStr', label: this.$t('admin.company.table.district')},
          {key: 'processStr', label: this.$t('admin.company.table.status')},
        ],
        rejectReason: '',
        formModal: {
          companyName: '',
          id: '',
          taxCode: '',
          website: '',
          email: '',
          phone: '',
          productType: '',
          address: '',
          contactMail: '',
          contactPhone: '',
          optionsDistrict: [],
          provinceSelected: null,
          districtSelected: null,
          logo: '',
          licenses: [],
          process: 0,
        },
        validReject: [
          {
            property: 'rejectReason', error: [
              {type: 'NULL', errorDesc: 'Xin mời nhập lý do từ chối', errorDesc_en: 'Please input reject reason'},
            ]
          },],
      }
    },
    beforeMount() {
      this.sttSearch = this.optionsStt[0];
      let that = this;
      API.call_GET('province/cbb', {}, function (data) {
        if (data.success)
          that.optionsProvince = data.list;
      });
    },
    props: {},
    mounted() {
      this.search(0, 10);
    },
    methods: {
      search: function (pageNum, pageSize) {
        this.currentPage = pageNum;
        let rq = {
          page: pageNum,
          size: pageSize,
          companyName: this.searchName,
          email: this.searchEmail,
          phone: this.searchPhone,
          province: this.provinceSelected === null ? 0 : this.provinceSelected.id,
          district: this.districtSelected === null ? 0 : this.districtSelected.id,
          status: this.sttSearch.id
        };
        let that = this;
        API.call_GET('sAdmin/companies', rq, function (res) {
          that.$refs[that.refDF].unlock();
          if (res.success) {
            that.tblData = res.list;
            that.$refs[that.refDF].setTotal(res.totalElements);
          }
          else {
            that.$error(res.message);
          }
        }, function (res) {
          that.$refs[that.refDF].unlock();
        });

      },

      getStatus(process) {
        if (process === 1) return this.$t('admin.company.stt.requested');
        if (process === 2) return this.$t('admin.company.stt.rejected');
        if (process === 3) return this.$t('admin.company.stt.accept');
        if (process === 4) return this.$t('admin.company.stt.deactive');
        return '';
      },

      getVariantStatus(process) {
        if (process === 1) return 'info';
        if (process === 2) return 'warning';
        if (process === 3) return 'success';
        if (process === 4) return 'danger';
        return '';
      },

      rowClicked(item) {
        let that = this;
        this.$reset(this.validReject);
        this.$refs[this.refDF].openModal(this.getVariantStatus(item.process), this.$t('admin.company.modal.header'));
        API.call_GET('sAdmin/companies/' + item.id + '/images/', {}, function (res) {
          if (res.success) {
            that.formModal.licenses = res.list.filter(function (ob) {
              return ob.type === 2;
            });

            let logo = res.list.filter(function (ob) {
              return ob.type === 1;
            })[0];
            API.call_download('sAdmin/companies/' + item.id + '/images/get', logo, function (res2) {
              that.formModal.logo = 'data:image/png;base64,' + new Buffer(res2, 'binary').toString('base64')
            });
          }
        });
        this.formModal.companyName = item.companyName;
        this.formModal.taxCode = item.taxCode;
        this.formModal.email = item.email;
        this.formModal.phone = item.phone;
        this.formModal.website = item.website;
        this.formModal.address = item.address;
        this.formModal.contactMail = item.emailContact;
        this.formModal.contactPhone = item.phoneContact;
        this.rejectReason = item.rejectReason;
        this.formModal.productType = '';
        this.formModal.id = item.id;
        item.productTypes.forEach(function (value) {
          that.formModal.productType += value.name + ', ';
        });
        this.formModal.productType = this.formModal.productType.substr(0, this.formModal.productType.length - 2);
        for (let i = 0; i < this.optionsProvince.length; i++)
          if (item.province.id === this.optionsProvince[i].id) {
            this.formModal.provinceSelected = this.optionsProvince[i];
            break;
          }
        API.call_GET('province/cbb/' + item.province.id, {}, function (data) {
          if (data.success) {
            that.formModal.optionsDistrict = data.list;
            for (let i = 0; i < that.formModal.optionsDistrict.length; i++)
              if (item.district.id === that.formModal.optionsDistrict[i].id) {
                that.formModal.districtSelected = that.formModal.optionsDistrict[i];
                break;
              }
          }
        });
        this.formModal.process = item.process;
      },

      downloadLicense(license) {
        this.$loading(this.$t('common.downloading'), null, true, -1);
        let that = this;
        API.call_download('sAdmin/companies/' + license.id + '/images/get', license, function (res) {
          that.$closeToastr();
          that.$saveFile(res, license.fileName);
        }, function (res) {
          that.$closeToastr();
        });
      },

      approve(dialog) {
        let that = this;
        API.call_PUT('sAdmin/companies/accept/' + this.formModal.id, {}, function (res) {
          if (res.success){
            that.$refs[that.refDF].hideModal();
            that.$success(that.$t('common.successText'));
            that.search(that.currentPage, 10);
            that.$dialog.alert(that.$t('admin.company.successApprove', {user: res.data.userId, pass: res.data.password}), {
              okText: that.$t('common.okText')
            });
          } else {
            that.$error(res.message);
          }
          dialog.loading(false);
          dialog.close();
        }, function (res) {
          dialog.loading(false);
          dialog.close();
        })
      },

      reject() {
        if (!this.$valid(this.validReject)) return;
        let that = this;
        this.$dialog.confirm(this.$t('admin.company.modal.rejectText'), {
          loader: true,
          okText: that.$t('common.okText'),
          cancelText: that.$t('common.cancelText'),
        }).then(dialog => {
          API.call_PUT('sAdmin/companies/reject/' + this.formModal.id, {reason: that.rejectReason}, function (res) {
            if (res.success){
              that.$refs[that.refDF].hideModal();
              that.$success(that.$t('common.successText'));
              that.search(that.currentPage, 10);
            } else {
              that.$error(res.message);
            }
            dialog.loading(false);
            dialog.close();
          }, function (res) {
            dialog.loading(false);
            dialog.close();
          });
        });
      },

    },
    watch: {
      provinceSelected: function (val) {
        if (val === null) {
          this.optionsDistrict = [];
          this.districtSelected = null;
          return;
        }
        let that = this;
        API.call_GET('province/cbb/' + val.id, {}, function (data) {
          if (data.success) {
            that.optionsDistrict = data.list;
            that.districtSelected = null;
          }
        });
      }
    }
  }
</script>

<style scoped>

</style>
