<template>
  <DefaultForm :header="header" :onSearch="search" :ref="refDF" :type-search="[1, 1, 0]">
    <template slot="search">
      <b-row>
        <b-col md="3">
          <div class="form-group">
            {{$t('admin.packType.search.packTypeName')}}
            <b-form-input v-model="searchName"></b-form-input>
          </div>
        </b-col>

        <b-col md="3">
          <div class="form-group">
            {{$t('admin.packType.search.status')}}
            <v-select :options="optionsStt" v-model="sttSearch" label="name" :clearable="false"></v-select>
          </div>
        </b-col>

      </b-row>
    </template>
    <template slot="viewData">
      <b-table responsive :items="tblData" :fields="fields" striped bordered hover
               caption-top>

        <template slot="quantity" slot-scope="data">
          {{data.item.quantity.toLocaleString()}}
        </template>
        <template slot="amount" slot-scope="data">
          {{data.item.amount.toLocaleString() + ' VNĐ'}}
        </template>
      </b-table>
    </template>
    <template slot="modal">
      <div class="col-md-12">
        <b-row>
          <b-col md="12" class="form-group">
            {{$t('admin.packType.modal.name')}}
            <b-form-input v-model="formName"></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="6" class="form-group">
            {{$t('admin.packType.modal.quantity')}}
            <b-form-input v-model="formQuantity" type="number"></b-form-input>
          </b-col>
          <b-col md="6" class="form-group">
            {{$t('admin.packType.modal.amount')}}
            <b-form-input v-model="formAmount" type="number"></b-form-input>
          </b-col>
        </b-row>
      </div>
    </template>
    <template slot="modal-button">

      <b-btn variant="info">
        {{$t('admin.packType.modal.btnSubmit')}}
      </b-btn>

      <b-btn variant="dark" @click="$refs[refDF].hideModal()">{{$t('admin.pack.modal.btnCancel')}}</b-btn>
    </template>
  </DefaultForm>
</template>

<script>
  import DefaultForm from "../../containers/DefaultForm";
  import API from '../../shared/API'

  export default {
    name: "PackType",
    components: {
      DefaultForm,
      API
    },
    data() {
      return {
        header: this.$t('admin.packType.header'),
        refDF: this.$safeRef(),
        currentPage: 0,
        searchName: '',
        optionsPackType: [],
        optionsStt: [
          {id: 0, name: this.$t('admin.packType.stt.default')},
          {id: 1, name: this.$t('admin.packType.stt.active')},
          {id: 2, name: this.$t('admin.packType.stt.deActive')},
        ],
        sttSearch: null,
        tblData: [],
        fields: [
          {key: 'name', label: this.$t('admin.packType.table.name')},
          {key: 'quantity', label: this.$t('admin.packType.table.quantity')},
          {key: 'amount', label: this.$t('admin.packType.table.amount')},
        ],
        formName: '',
        formQuantity: '',
        formAmount: '',
      }
    },
    beforeMount() {
      this.sttSearch = this.optionsStt[0];
    },

    mounted() {
      this.search(0, 1000);
    },

    methods: {
      search: function (pageNum, pageSize) {
        this.currentPage = pageNum;
        let that = this;
        API.call_GET('packTypes/cbb', {}, function (res) {
          that.$refs[that.refDF].unlock();
          if (res.success) {
            that.tblData = res.list;
            that.$refs[that.refDF].setTotal(res.list.length);
          }
          else {
            that.$error(res.message);
          }
        }, function (res) {
          that.$refs[that.refDF].unlock();
        });

      },

      clickInfo(data) {

        this.$refs[this.refDF].openModal(this.getVariantStatus(data.status), this.$t('admin.pack.modal.header'));
      },
    },
    watch: {}
  }
</script>

<style scoped>

</style>
